{% extends "auth_base.html" %}

{% block title %}
Forgot Password | MEDIXA PHARMA
{% endblock %}


{% block auth_content %}

<div class="auth-card">


    <div class="auth-heading">

        <span class="auth-eyebrow">
            ACCOUNT RECOVERY
        </span>

        <h1>
            Forgot Password?
        </h1>

        <p>
            Enter your username or email address
            to request a password reset link.
        </p>

    </div>


    <form method="POST"
          class="auth-form">


        <div class="auth-field">

            <label for="identifier">
                Username or Email
            </label>

            <input
                type="text"
                id="identifier"
                name="identifier"
                autocomplete="username"
                placeholder="Enter username or email"
                required
                autofocus
            >

        </div>


        <button
            type="submit"
            class="auth-submit"
        >
            Request Password Reset
        </button>


    </form>


    <div class="auth-switch single-link">

        <a href="{{ url_for('login') }}">
            Back to Sign In
        </a>

    </div>


</div>

{% endblock %}