{% extends "auth_base.html" %}

{% block title %}
Create New Password | MEDIXA PHARMA
{% endblock %}


{% block auth_content %}

<div class="auth-card">


    <div class="auth-heading">

        <span class="auth-eyebrow">
            PASSWORD RECOVERY
        </span>

        <h1>
            Create New Password
        </h1>

        <p>
            Choose a new password for your
            MEDIXA PHARMA account.
        </p>

    </div>


    <form method="POST"
          class="auth-form">


        <div class="auth-field">

            <label for="password">
                New Password
            </label>

            <input
                type="password"
                id="password"
                name="password"
                autocomplete="new-password"
                minlength="8"
                maxlength="128"
                placeholder="Enter your new password"
                required
                autofocus
            >

            <small>
                At least 8 characters with at least
                one letter and one number.
            </small>

        </div>


        <div class="auth-field">

            <label for="confirm_password">
                Confirm New Password
            </label>

            <input
                type="password"
                id="confirm_password"
                name="confirm_password"
                autocomplete="new-password"
                placeholder="Enter the new password again"
                required
            >

        </div>


        <button
            type="submit"
            class="auth-submit"
        >
            Create New Password
        </button>


    </form>


</div>

{% endblock %}